.header {
  display: flex; /* Activa Flexbox */
  justify-content: space-between; /* Distribuye el espacio entre elementos */
  align-items: center; /* Centra verticalmente */
  padding: 1rem 1rem  ; /* Espaciado interno */
  background-color: #005B89; /* Color de fondo */
  color: white; /* Color del texto */
}

/* Estilo para el logo */
.logo {
  margin-right: auto; /* Empuja el logo a la izquierda */
  width: 250px;
  height: auto;
  display: block;
  margin: 1rem;
}

/* Estilo para la navegación */
.nav {
  margin: 0 auto; /* Centra el menú (opcional) */
}

/* Estilo para el botón */
.cta-button {
  background-color: #ffffff;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto; /* Empuja el botón a la derecha */
}

.cta-button:hover {
  background-color: #ffffff8e;
}

h1 {
  width: 800px;
  margin: 0 auto;
}
